@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

/* universal selector  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1440px;
}
img {
  max-width: 100%;
}
video{
  width: 100%;
  border-radius: 16px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 35px;
  margin: 40px auto;
}

.auto-title {
  margin: auto;
  text-align: center;
  width: 60%;
  margin: auto;
}
.auto-title h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.auto-title p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* navigation  */
.nav-logo {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.nav-title {
  text-wrap: nowrap;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.active-title {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}

.main-nav > ul {
  display: flex;
}
.main-nav > ul li {
  list-style: none;
  margin-left: 3rem;
}
.main-nav > ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.5s;
}
.main-nav > ul li a:hover {
  color: #ff5400;
}
.main-nav > ul li a.active-nav {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}
.nav-var {
  font-size: 25px;
  font-weight: 700;
  display: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

/* banner section  */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  height: 500px;
  max-width: 1440px;
}
.select-option {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  width: 80%;
}
.select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 16px 60px 16px 16px;
  border-radius: 8px;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 0 16px;
}
select > option {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  text-transform: capitalize;
}
.select-active {
  background: #ff5400;
  color: #fff;
  text-align: center;
}
.banner-content {
  padding: 100px 0px;
}
/* banner section end  */

/* about us section start  */
.about-us{
  margin: 100px 0px;
}
.about-image{
  border-radius: 8px;
}


/* popular section  */

.popular{
    margin: 100px 0px;
}
.column h1{
    color: #131318;
font-size: 40px;
font-weight: 800;
padding: 25px 0px;
}

.column img{
    display: flex;
    margin: auto;
}
/* universal  */
.column ul li{
    margin: 20px;
}
.column{
    width: 50%;
}
.flexiable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
/* universal  */
/* popular section end  */


/* destination start  */
.destination{
    display: grid;
    justify-content: center;
}
.des-title h1{
    color: #131318;
    font-size: 40px;
}
.des-title p{
    color: #131318;
}
.first-row{
    display: flex;
    gap: 25px;
    
    padding-bottom: 25px;
}
.parents{
    position: relative;
    width: fit-content;
}
.country{
    position: absolute;
    top: 50%;
    left: 30%;
    color: #fff;
font-size: 28px;
font-weight: 800;
text-transform: capitalize;

}
/* destinaton section end  */


/* choosus section start  */
.choosus{
    margin: 100px 0;
}
.card *{
    padding: 16px 0px;
}
.card{
    padding: 32px;
    border-radius: 16px;
    width: 573px;
}
.active-card{
   
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.active2-card{
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.row2{
    display: flex;
    margin: auto;
    border-radius: 16px;
    width: 573px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}

/* .choosus section end  */


/* deal section start  */
.deal-content{
  position: relative;
  margin-bottom: 25px;
}
.deal-box{
  border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
padding: 30px 50px;
width: fit-content;
position: absolute;
top: 50px;
right: 50px;

}
.dealbox-top {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.deal-box *{
  margin: 16px 0px;
}
.deal-box span{
  margin-right: 24px;
}
.top-title{
  color: #131318;
font-size: 24px;
font-weight: 800;

}
.bottom-title{
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.diffrnt-dealbox{
  top: 50px;
  left: 50px;
}
.deal-content>img{
  min-height: 500px;
}
.package{
  display: flex;
  margin: auto;
}
/* deal section end  */

/* news leter section start  */
.newsletter{
  margin: 100px auto;
}
.news-box{
  border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px;
}
.news-box h3{
  color: #131318;
font-size: 24px;
font-weight: 800;
padding: 16px 0px;
}
.news-box p{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-bottom: 16px;
}
hr{
  background: rgba(19, 19, 24, 0.10);
}
.news-box input{
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 16px 20px;
border: none;
outline: none;
width: 100%;
margin: 16px auto;
}
::placeholder{
  color: rgba(19, 19, 24, 0.30);
}
.subs-btn{
  width: 100%;
  margin: 0;
}
.save{
  position: relative;
}
.off{
  position: absolute;
  right: 20px;
  bottom: 45px;
  border-radius: 16px;
background: #FF5400;
padding: 25px 30px;
color: #fff;
transform: rotate(-19.628deg);
}
.off p{
  color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.off h3{
font-size: 32px;
font-weight: 800;
}

/* off section end  */

/* .footer section start  */
.footer-content *{
  padding: 10px 0;
}
.footer-content{
  margin: auto;
  text-align: center;
  padding: 100px 0px;
}
.social-icon{
  font-size: 24px;
  border-bottom:1px solid rgba(19, 19, 24, 0.10);
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.social-icon a{
  padding:0px 20px ;
}
.social-icon a i{
  color: #131318
}
.footer-botom{
  padding: 50px ;
}
footer{
  background: rgba(19, 19, 24, 0.05);

}